# Salidas por defecto de GCC y ejecutables comunes
a.out
*.out

# Si compilas con `-o nombre_programa`, añade el nombre aquí (ejemplo: main):
reportadora

# Archivos de objeto, ensamblador intermedio y preprocesado
*.o
*.s
*.i

# Librerías compartidas y estáticas generadas
*.so
*.so.*
*.a

# Archivos temporales y de swap generados por Vim
*.swp
*.swo
*~
.netrwhist

# Volcados de memoria (core dumps generados tras segmentation faults)
core
core.*
vgcore.*
